div.main {
  position: relative;
  text-align: center;
  margin-top: 5%;
}

div.main img {
  width: 7.5rem;
  height: 2.875rem;
  vertical-align: middle;
}

input.main {
  width: 60%;
  height: 3rem;
  padding: .3125rem;
  border-radius: .375rem;
  font-size: 2.375rem;
  line-height: 2.5rem;
  border: 2px solid #438956;
  vertical-align:middle;
}